@use 'general';


/* Barra de navegacion */
.navbar{
    padding: 2rem;
    background-color: #f5f6f7;

    position: sticky;
    /*position: sticky; /*Esto hace que el navbar se quede pegado en la parte de arriba */
    /* top: 0; */
}

.navbar-collapse{
    display: flex;
    justify-content: space-between;
}


.navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    
    --clip: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.nav-link::after{
    content: "";
    display: block;
    background-color: #2b182c;
    width: 90%;
    height: 3px;
    margin-top: 3px;
    clip-path: var(--clip);
    transition: clip-path .5s;

}

.nav-link:hover{
    --clip:polygon(0 0, 100% 0, 100% 100%, 0 100%);
   
}

@media screen and (max-width: 767px) {
    .navbar-brand{
        display: none;

    }
    
    .collapse{
        
        justify-content: center;
        align-items: center;
    }
    .navbar-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   

}
