@use 'reset';
@use 'nav';


%titulo{
    font-size: 2rem;
    padding:15px 0;
    font-family: 'Rubik Dirt', cursive;
}



.horario__tabla{
    caption-side: top;
    width: 100%;
    text-align: center;

    & > caption{
        text-transform: uppercase;
        text-align: center;
        padding: 8px;
        @extend %titulo;
    }
}
