@use 'reset';

@mixin titulo(){
    font-size: 2rem;
    padding:15px 0;
    font-family: 'Rubik Dirt', cursive;
}

.horario{

    &__tabla{
        caption-side: top;
        width: 100%;
        text-align: center;
       
        tr{
            height:100px
        }
        td{
            width: 50px;
        }
        & > caption{
            text-transform: uppercase;
            text-align: center;
            padding: 8px;
            @include titulo;
        }
    }
}