<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Titulo -->
    <title>Fernando | Desarrollo web</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="./static/images/icono.png" type="image/x-icon" />
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
    <!-- icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/cardVideo.css" />

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap" rel="stylesheet" />

</head>
<body>


     <!-- Barra de navegacion -->
     <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-toggler">
                <a class="navbar-brand" href="#">
                    <img src="../static/images/icono.png" width="50" alt="Logo de la página web" />
                </a>
                <ul class="navbar-nav d-flex justify-content-center align-items-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../index.html">Sobre mí</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./proyectos.html">Proyectos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Video</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../templates/horario.html" >Mi horario de clases</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="contenedor container seccion__clara">

        <div class="card mb-3 mt-5 d-flex flex-column text-center">
            <div class="card__head">
                <iframe autoplay = "1" id="VideoUNI" src="https://www.youtube.com/embed/rQu0WC_YyyA?&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body seccion__titulo">
            <h3 class="card-title">BIBLIOTECA MOVIL</h3>
            <p class="seccion__descripcion">En el presente video se expone una aplicacion movil que se elaboro para la asignatura de programacion grafica en la uni.</p>
            <p class="seccion__texto">Dicha aplicacion permitia a los usuarios <small class="text-body-secondary">(Estudiantes)</small> poder tener una fuente confiable de informacion desde sus dispositivos moviles.</p>
            </div>
        </div>
   
    </div>
    <!-- Script Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>