<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Fernando" />
    <meta name="description" content="Mi Horario de clases" />
    <link rel="shortcut icon" 
        href="../static/images/icono.png" 
        type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi horario</title>
     <!-- Bootstrap -->
     <link
     href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
     rel="stylesheet"
     integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
     crossorigin="anonymous"
   />
   <!-- icons -->
   <link
     rel="stylesheet"
     href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
   />
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/Horario.css">
</head>
<body>
    
    <!-- Barra de navegacion -->
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-toggler">
                <a class="navbar-brand" href="#">
                    <img src="../static/images/icono.png" width="50" alt="Logo de la página web" />
                </a>
                <ul class="navbar-nav d-flex justify-content-center align-items-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../index.html">Sobre mí</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../templates/proyectos.html">Proyectos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonios">Testimonios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" >Mi horario de clases</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="horario container mt-5">
       
        <table class="horario__tabla table table-striped">
            <caption>Segundo parcial Ingenieria en computacion</caption> 
            <thead>
                <tr>
                    <th>Hora</th>
                    <th>Lun</th>
                    <th>Mar</th>
                    <th>Mié</th>
                    <th>Jue</th>
                    <th>Vie</th>
    
                </tr>
    
            </thead>
    
            <tbody>
                <tr>
                    <td class="horas">04:10pm a 5:50pm </td>
                    <td class="Lengua">ARQUITECTURA DE 
                        SISTEMAS 
                        OPERATIVOS, 
                        Grupo: 4T2-CO 
                        Aula: A-II-6 
                        Edificio: 
                        EDIFICIO 
                        RIGOBERTO LOPEZ 
                        PEREZ Docente: 
                        NARCISO JAVIER 
                        AGUILERA CENTENO
                    </td>
                    <td class="Mates">ARQUITECTURA DE 
                        SISTEMAS 
                        OPERATIVOS, 
                        Grupo: 4T2-CO 
                        Aula: A-II-6 
                        Edificio: 
                        EDIFICIO 
                        RIGOBERTO LOPEZ 
                        PEREZ Docente: 
                        NARCISO JAVIER 
                        AGUILERA CENTENO</td>
                    <td class="Mates">METODOLOGIA DE LA 
                        INVESTIGACION, 
                        Grupo: 4T2-CO 
                        Aula: A-II-6 
                        Edificio: 
                        EDIFICIO 
                        RIGOBERTO LOPEZ 
                        PEREZ Docente: 
                        LESLIE ROMAR 
                        PEREZ VALLE</td>
                    <td class="Mates"></td>
                    <td class="Edfisica">ARQUITECTURA DE 
                        SISTEMAS 
                        OPERATIVOS, 
                        Grupo: 4T2-CO 
                        Aula: A-II-6 
                        Edificio: 
                        EDIFICIO 
                        RIGOBERTO LOPEZ 
                        PEREZ Docente: 
                        NARCISO JAVIER 
                        AGUILERA CENTENO</td>
    
                </tr>
            
                <tr>
                    <td class="horas">06:00pm. a
                        07:20p.m</td>
                    <td class="Ingles">CONTROL, Grupo: 
                        4T2-CO Aula: 
                        A-II-6 Edificio: 
                        EDIFICIO 
                        RIGOBERTO LOPEZ 
                        PEREZ Docente: 
                        HUMBERTO 
                        FRANCISCO ZEPEDA 
                        PALACIOS</td>
                    <td class="Mates">INGENIERIA DE 
                        SOFTWARE I, 
                        Grupo: 4T2-CO 
                        Aula: A-II-6 
                        Edificio: 
                        EDIFICIO 
                        RIGOBERTO LOPEZ 
                        PEREZ Docente: 
                        MAURICIO 
                        ARISTIDES ACOSTA 
                        ORTEGA</td>
                    <td class="Musica">METODOLOGIA DE LA 
                        INVESTIGACION, 
                        Grupo: 4T2-CO 
                        Aula: A-II-6 
                        Edificio: 
                        EDIFICIO 
                        RIGOBERTO LOPEZ 
                        PEREZ Docente: 
                        LESLIE ROMAR 
                        PEREZ VALLE</td>
                    <td class="Ingles">ARQUITECTURA DE 
                        MAQUINAS 
                        COMPUTADORAS II, 
                        Grupo: 4T2-CO 
                        Aula: A-II-6 
                        Edificio: 
                        EDIFICIO 
                        RIGOBERTO LOPEZ 
                        PEREZ Docente: 
                        ARMANDO JOSE 
                        ARISTA CASTRO</td>
                    <td class="Lengua">INGENIERIA DE 
                        SOFTWARE I, 
                        Grupo: 4T2-CO 
                        Aula: A-II-6 
                        Edificio: 
                        EDIFICIO 
                        RIGOBERTO LOPEZ 
                        PEREZ Docente: 
                        MAURICIO 
                        ARISTIDES ACOSTA 
                        ORTEGA</td>
                </tr>
                <tr>
                    <td class="horas">07:25p.m. a
                        08:45p.m.</td>
                    <td class="Lengua">CONTROL, Grupo: 
                        4T2-CO Aula: 
                        A-II-6 Edificio: 
                        EDIFICIO 
                        RIGOBERTO LOPEZ 
                        PEREZ Docente: 
                        HUMBERTO 
                        FRANCISCO ZEPEDA 
                        PALACIOS</td>
                    <td class="Mates">INGENIERIA DE 
                        SOFTWARE I, 
                        Grupo: 4T2-CO 
                        Aula: A-II-6 
                        Edificio: 
                        EDIFICIO 
                        RIGOBERTO LOPEZ 
                        PEREZ Docente: 
                        MAURICIO 
                        ARISTIDES ACOSTA 
                        ORTEGA</td>
                    <td class="Lengua">CONTROL, Grupo: 
                        4T2-CO Aula: 
                        A-II-6 Edificio: 
                        EDIFICIO 
                        RIGOBERTO LOPEZ 
                        PEREZ Docente: 
                        HUMBERTO 
                        FRANCISCO ZEPEDA 
                        PALACIOS</td>
                    <td class="Ingles">ARQUITECTURA DE 
                        MAQUINAS 
                        COMPUTADORAS II, 
                        Grupo: 4T2-CO 
                        Aula: A-II-6 
                        Edificio: 
                        EDIFICIO 
                        RIGOBERTO LOPEZ 
                        PEREZ Docente: 
                        ARMANDO JOSE 
                        ARISTA CASTRO</td>
                    <td class="Mates">ARQUITECTURA DE 
                        MAQUINAS 
                        COMPUTADORAS II, 
                        Grupo: 4T2-CO 
                        Aula: A-II-6 
                        Edificio: 
                        EDIFICIO 
                        RIGOBERTO LOPEZ 
                        PEREZ Docente: 
                        ARMANDO JOSE 
                        ARISTA CASTRO</td>
    
                </tr>
                
            </tbody>
        </table>
    </section>

     <!-- Script Bootstrap -->
     <script
     src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
     crossorigin="anonymous"
   ></script>
</body>
</html>