<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Fernando" />
    <meta name="description" content="Mi Horario de clases" />
    <link rel="shortcut icon" 
        href="../static/images/icono.png" 
        type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi horario</title>
     <!-- Bootstrap -->
     <link
     href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
     rel="stylesheet"
     integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
     crossorigin="anonymous"
   />
   <!-- icons -->
   <link
     rel="stylesheet"
     href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
   />
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/Horario.css">
</head>
<body>
    <section class="horario container mt-5">
       
        <table class="horario__tabla table table-striped">
            <caption>Segundo parcial Ingenieria en computacion</caption> 
            <thead>
                <tr>
                    <th>Hora</th>
                    <th>Lun</th>
                    <th>Mar</th>
                    <th>Mié</th>
                    <th>Jue</th>
                    <th>Vie</th>
    
                </tr>
    
            </thead>
    
            <tbody>
                <tr>
                    <td class="horas">04:10pm a 5:50pm </td>
                    <td class="Lengua">ARQUITECTURA DE 
                        SISTEMAS 
                        OPERATIVOS, 
                        Grupo: 4T2-CO 
                        Aula: A-II-6 
                        Edificio: 
                        EDIFICIO 
                        RIGOBERTO LOPEZ 
                        PEREZ Docente: 
                        NARCISO JAVIER 
                        AGUILERA CENTENO
                    </td>
                    <td class="Mates">Mates *<span> Aula</span></td>
                    <td class="Mates">Mates *<span> Aula </span></td>
                    <td class="Mates">Mates *<span> Aula </span> </td>
                    <td class="Edfisica">Educación física*<span> Gimnasio</span> </td>
    
                </tr>
            
                <tr>
                    <td class="horas">9:25 a 10:20 </td>
                    <td class="Ingles">Inglés*<span> Aula</span></td>
                    <td class="Mates">Mates *<span> Aula </span></td>
                    <td class="Musica">Musica *<span> Aula musica</span></td>
                    <td class="Ingles">Inglés*<span> Aula</span></td>
                    <td class="Lengua">Lengua *<span> Aula</span></td>
                </tr>
                <tr>
                    <td class="horas">10:20 a 11:10 </td>
                    <td class="Lengua">Lengua*<span> Aula</span></td>
                    <td class="Mates">Mates *<span> Aula </span></td>
                    <td class="Lengua">Lengua*<span>Aula</span></td>
                    <td class="Ingles">Inglés *<span> Aula</span></td>
                    <td class="Mates">Mates *<span> Aula </span></td>
    
                </tr>
                <tr>
                    <td class="horas">11:10 a 11:35 </td>
                    <td class="recreo">Recreo *<span> Patio</span></td>
                    <td class="recreo">Recreo  *<span> Patio</span></td>
                    <td class="recreo">Recreo  *<span> Patio</span></td>
                    <td class="recreo">Recreo  *<span> Patio</span></td>
                    <td class="recreo">Recreo  *<span> Patio</span></td>
    
                <tr>
                    <td class="horas">11:35 a 12:30 </td>
                    <td class="Mates">Mates *<span> Aula </span></td>
                    <td class="Musica">Música *<span> Aula música</span></td>
                    <td class="Lengua">Lengua *<span> Aula</span></td>
                    <td class="Tecno"> Tecnología *<span> Info2</span></td>
                    <td class="Mates">Mates *<span> Aula </span></td>
                </tr>
    
                <tr>
                    <td class="horas">12:30 a 13:25 </td>
                    <td class="Mates">Mates *<span> Aula </span></td>
                        <td class="Tecno"> Tecnología *<span> Info2</span></td>
                        <td class="Lengua">Lengua *<span> Aula</span></td>
                    <td class="Tecno"> Tecnología *<span> Info2</span></td>
                    <td class="Mates">Mates *<span> Aula </span></td>
                </tr>
                <tr>
                    <td class="horas">13:25 a 14:15</td>
        <td class="Mates">Mates *<span> Aula </span></td>
                        <td class="Tecno"> Tecnología *<span> Info2</span></td>
                        <td class="Lengua">Lengua *<span> Aula</span></td>
                                    <td class="Mates">Mates *<span> Aula </span></td>
                    <td class="Lengua">Lengua*<span> Info 2</span></td>
    
                </tr>
            </tbody>
        </table>
    </section>

     <!-- Script Bootstrap -->
     <script
     src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
     crossorigin="anonymous"
   ></script>
</body>
</html>